body {
  margin: 0;
  background-color: #ffffff;
  color: #602b7a;
  font-family: "Montserrat", sans-serif;
}

header {
  height: 70px;
  margin: 0px;
}

.navs {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}
.navs a {
  text-decoration: none;
  color: #602b7a;
  font-size: 17px;
}

.animated-gradient-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  border-radius: 16px;
  color: white;
  text-align: center;
  padding: 20px;
  background-image: linear-gradient(45deg, #602b7a, #ffd441);
  background-size: 300%;
  animation: moveGradient 8s linear infinite;
}
@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animated-gradient-box h1 {
  font-family: sans-serif;
  font-size: 32px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.animated-gradient-box p {
  font-family: sans-serif;
  font-size: 18px;
  max-width: 80%;
}

.btn {
  background-color: #602b7a;
  display: inline-block;
  padding: 12px 30px;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: background 0.3s;
}
.camps {
  display: flex;
  justify-content: center;
  border: 8px inset #ffd441;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 20px;
  
}
.camps img {
  width: 80vh;
}
.camps h4{
  max-width: 850px;

}
.btn:hover {
  background-color: #ffd441;
  color: #602b7a;
  transition: transform 0.8s, box-shadow 0.3s;
  transform: translateY(-8px);
}
.contact {
  text-align: center;
}
.info {
  margin: 80px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-container {

    padding: 20px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;


}

.product-card {
 
    background-color: white;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img{
  width: 150px;
}